pandas==2.1.0
numpy==1.26.0
seaborn==0.13.0
matplotlib==3.8.0
streamlit==1.29.0
altair==5.1.2
plotly==5.18.0
scikit-learn==1.3.2
requests==2.31.0
Pillow==10.1.0
jinja2-time==0.2.0
hydralit-components==1.0.10  
